*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
}

html, body{
    --blue: #389CEB;
    --blue-light: #81BFEE;
    --blue-medium: #2C7BB8;
    --blue-dark: #1A486B;
    --blue-grey: #3A566B;
    --white: #ffffff;

    --bg: #F5FBFF;
    --placeholder: #D0D0D0;

    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--bg);
}

.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

button.outlined, a.outlined{
    background: transparent;
    border: .1rem solid var(--blue);
    color: var(--blue);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    border-radius: .8rem;
    padding: .7rem 1.6rem;
}

button.button, a.button{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.1rem;
    padding: .7rem 1.8rem;
    background: var(--blue-dark);
    color: var(--white);
    border-radius: .8rem;
}

button.button:hover, a.button:hover{
    transition: .2s;
    filter: brightness(1.5);
}

input{
    border: none;
}